.checkout {
  padding: 1rem;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product img {
  width: 80px;
  height: 80px;
  background: skyblue;
}

.product-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-actions {
  display: flex;
  gap: 0.5rem;
}