body {
  font-family: stolzl, sans-serif;
  font-weight: 400;
}
h1, h2 {
  font-family: "Playfair Display", serif;
}

h3, h4 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.add-product {
  margin-top: 10px;
}
.checkout {
  padding: 1rem;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout-side {
  display: none;
}

.product {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.product-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.product-actions {
  display: flex;
  gap: 0.5rem;
}

textarea {
  width: 100%;
  min-height: 120px;
  margin-top: 10px;
}

.payment-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary-text {
  padding: 10px 0;
}

#payment-title {
  padding-bottom: 10px;
}

.logo {
  height: 25px;
}

.login-button{
  margin-top: 1rem;
  
}

@media (min-width: 768px) {
  .checkout {
    max-width: 720px;
    margin: 0 auto;
  }

  .payment-buttons {
    flex-direction: row;
  }
  }

  @media (min-width: 1024px) {
    .checkout {
      max-width: 1200px;
      display: flex;
      gap: 3rem;
      margin: 0 auto;
      padding: 2rem;
    }

    .checkout-form {
      flex: 2;
    }

    .checkout-side {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      background: whitesmoke;
      padding: 2rem;
    }

    .side-image{
      width: 100%;
      height: auto;
      margin-top: 1rem;
      object-fit: cover;
    }

    .product-img {
      width: 70px;
      height: 70px;
    }

    .payment-buttons {
      flex-direction: row;
      gap: 2rem;
    }
  }