h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.add-product {
  margin-top: 1rem;

}
.checkout {
  padding: 1rem;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout-side {
  display: none;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 1rem;
}

.product-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.product-actions {
  display: flex;
  gap: 0.5rem;
}

textarea {
  width: 100%;
  min-height: 120px;
  margin-top: 1rem;
}

.payment-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary-text {
  padding: 0.5rem 0;
}

#payment-title {
  padding-bottom: 1rem;
}


.login-button{
  margin-top: 1rem;
  
}

.btn-base {
  font-family: inherit;
  font-size: 0.95rem;
  padding: 0.6rem 1.4rem;
  border-radius: 6px;
  cursor: pointer;
}

.btn-base:hover {
  background-color: #cfcfcf;
}

.add {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  max-height: 2rem;
  max-width: 2rem;
}

.add:hover {
  background-color: #cfcfcf;
}

.number{
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
}

.product-text {
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
}

#total-price{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 1rem
}

#order-summary {
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .payment-buttons {
    flex-direction: row;
  }
  
  }

@media (min-width: 768px) {
  .checkout {
    max-width: 720px;
    margin: 0 auto;
  }

  .payment-buttons {
    flex-direction: row;
  }

  .product-img {
      width: 80px;
      height: 80px;
    }
  
  }

  @media (min-width: 1024px) {
    .checkout {
      max-width: 1200px;
      display: flex;
      gap: 3rem;
      margin: 0 auto;
      padding: 2rem;
    }

    .checkout-form {
      flex: 2;
    }

    .checkout-side {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      background: #FBF7F1;
      padding: 2rem;
    }

    .side-image{
      width: 100%;
      height: auto;
      margin-top: 1rem;
      object-fit: cover;
    }

    .product-img {
      width: 90px;
      height: 90px;
    }

    .payment-buttons {
      flex-direction: row;
      gap: 2rem;
    }
  }