.checkout {
  padding: 1rem;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout-side {
  display: none;
}

.product {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 5px 0;
  /* justify-content: flex-start; fungerar inte  */
}

.product img {
  width: 80px;
  height: 80px;
  background: skyblue;
}

.product-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-actions {
  display: flex;
  gap: 0.5rem;
}

textarea {
  width: 100%;
  min-height: 120px;
  margin-top: 10px;
}

.payment-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary-text {
  padding: 10px 0;
}

#payment-title {
  padding-bottom: 10px;
}