/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #7A2A3A;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 70px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.nav-links a:hover {
  color: #000;
}

.nav-actions {
  display: flex;
  gap: 16px;
}

/* Meny-toggle (mobil) */

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  padding: 15px;
  cursor: pointer;
  text-align: left;
}



/* Knappar i navbar */
.btn-outline {
  padding: 10px 18px;
  background: transparent;
  border: 1px solid #fbf7f1;
  color: #fbf7f1;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.btn-primary {
  padding: 10px 18px;
  background: #fbf7f1;
  color: #7A2A3A;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.btn-outline:hover {
  background: #813141; 

}

.btn-primary:hover {
  background: rgb(255, 255, 236);
}

/* Footer */
.footer {
  background-color: #1F3D2B;
  padding: 60px 32px;
  border-top: 1px solid #e0e0e0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-left: 32px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 12px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.footer-column p,
.footer-column a {
  font-size: 14px;
  color: white;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}

.footer-column ul {
  list-style: none;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column a {
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* Responsiv */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .nav-actions {
    display: none;
  }


  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #fbf7f1;
    color: #000;
    flex-direction: column;
    gap: 24px;
    padding: 24px 32px;
    display: none;
    border-top: 1px solid #e0e0e0;
    z-index: 10000;
  }

  .nav-links a {
    color: #000;
  }

  /* När checkbox är ikryssad → visa meny */
  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    padding:0%
  }
}
