body {
 font-family: "playfair display", serif;
  background-color: #FBF7F1;
}


#hero {
  height: 70vh; 
  background-image: url("../imgs/heroimg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 3rem;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.083); 
}

#hero h1 {
  color: #E65306;
  font-size: 2.5rem;
  text-transform: uppercase;
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
}

.content1 {
text-align: center;
color: #00333B;
padding: 3rem 2rem;
font-family: "playfair display", serif;
}

.imgwithtext {
display: flex;
align-items: center;
gap: 3rem;
padding: 2rem 2rem;
max-width: 1200px;
margin: 0 auto;
color: #00333B;
}

.imgwithtext img {
width: 50%;
border-radius: 8px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.imgwithtext .text {
width: 50%;
color: #00333B;
}

.imgwithtext.reverse {
flex-direction: row-reverse;
}

.lasttextbeforefooter h2 {
  text-align: center;
  margin: 2rem;
  background: linear-gradient(135deg, #00333B, #E65306);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 1.5rem;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #E65306, transparent);
  margin: 3rem auto;
  max-width: 80%;
}

text {
  font-family: "Montserrat", sans-serif;
}

h1 {
font-family: "playfair display", serif;


}

/* Tablet / Responsiv */
@media (max-width: 1024px) {

  .navbar-container {
    padding: 16px 20px;
  }

  .nav-links {
    gap: 40px;
  }

  #hero h1 {
    font-size: 2.2rem;
  }

   .imgwithtext {
    gap: 2rem;
  }

}

/* Mobil / Responsiv */
@media (max-width: 768px) {

  #hero {
    height: 50vh;
    padding: 2rem;
  }

  #hero h1 {
    font-size: 1.8rem;
    max-width: 100%;
  }

  .content1 {
    padding: 2rem 1.5rem;
  }

  .imgwithtext {
    flex-direction: column;
    gap: 1.5rem;
  }

  .imgwithtext img {
    width: 100%;
  }

    .imgwithtext,
  .imgwithtext.reverse {
    flex-direction: column;
  }

}

  .imgwithtext .text {
    width: 100%;
    text-align: center;
  }

  .lasttextbeforefooter h2 {
    font-size: 1.2rem;
    margin: 1.5rem;
  }
