/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 70px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
}

.nav-links a:hovebur {
  color: #000;
}

.nav-actions {
  display: flex;
  gap: 16px;
}

/* Meny-toggle (mobil) */
.hamburger {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  padding: 15px;
  cursor: pointer;
  background-color: #ebdfd0;
  color: #782b5c;
  text-align: left;
}



/* Knappar i navbar */
.btn-outline {
  padding: 10px 18px;
  background: transparent;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary {
  padding: 10px 18px;
  background: #3f3f3f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary:hover {
  background: #2e2e2e;
}

/* Footer */
.footer {
  background-color: #ffffff;
  padding: 60px 32px;
  border-top: 1px solid #e0e0e0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-left: 32px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 12px;
  color: #333;
}

.footer-column p,
.footer-column a {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column a {
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-actions {
    display: none;
  }


  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    gap: 24px;
    padding: 24px 32px;
    display: none;
    border-top: 1px solid #e0e0e0;
  }

  /* När checkbox är ikryssad → visa meny */
  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    padding:0%
  }
}

.logo-img {
  height: 50px;
 
}

#hero {
  height: 70vh; 
  background-image: url("../imgs/heroimg.png");
  background-size: cover;
  background-position: center;
  
  display: flex;
  align-items: flex-end;
  padding: 3rem;
}

#hero h1 {
  color: #E65306;
  font-size: 2.5rem;
  text-transform: uppercase;
  max-width: 500px;
}

.content1 {
text-align: center;
color: #00333B;
padding: 3rem 2rem;
}

.imgwithtext {
display: flex;
align-items: center;
gap: 3rem;
padding: 2rem 2rem;
max-width: 1200px;
margin: 0 auto;
color: #00333B;
}

.imgwithtext img {
width: 50%;
border-radius: 8px;
}

.imgwithtext .text {
width: 50%;
color: #00333B;
}

.imgwithtext.reverse {
flex-direction: row-reverse;
}

.lasttextbeforefooter h2 {
text-align: center;
margin: 2rem;
color: #00333B;
}